.vscode/
.idea/
logs/
PCL/
saves/
backups/
CustomSkinLoader/
crash-reports/
1.20.1-mod测试-natives/
kubejs/probe/
logs/
modernfix/
xaero/
XaeroWaypoints_BACKUP240807/
screenshots/
patchouli_data.json
crash-reports/
shaderpacks/
local/
checkbox_states.json
hotbar.nbt
options.txt
rhino.local.properties
servers.dat
authlib-injector.log
usercache.json
usernamecache.json
1.20.1-Forge_47.4.16-natives/
1.20.1-Forge_47.4.16.jar
1.20.1-Forge_47.4.16.json
1.20.1-Forge_47.4.16-natives/jna5807375589677835956.dll
1.20.1-Forge_47.4.16-natives/jna5807375589677835956.dll.x
洗手-natives/
洗手.jar
洗手.json
resourcepacks/
kubejstest/
/.idea/
